<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>moneymanager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>controller.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServletRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/ChangeDevise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurActionsServlet</display-name>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <servlet-class>controller.UtilisateurActionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/UtilisateurActionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/AjouterBudget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/ModifierBudget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/AjouterDepenseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/SupprimerDepense</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/SupprimerBudget</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>UtilisateurActionsServlet</servlet-name>
    <url-pattern>/ModifierDepense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Portefeuille</display-name>
    <servlet-name>Portefeuille</servlet-name>
    <servlet-class>controller.Portefeuille</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Portefeuille</servlet-name>
    <url-pattern>/Portefeuille</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>controller.StatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectifServlet</display-name>
    <servlet-name>ObjectifServlet</servlet-name>
    <servlet-class>controller.ObjectifServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectifServlet</servlet-name>
    <url-pattern>/ObjectifServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectifServlet</servlet-name>
    <url-pattern>/AjouterObjectif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AproposServlet</display-name>
    <servlet-name>AproposServlet</servlet-name>
    <servlet-class>controller.AproposServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AproposServlet</servlet-name>
    <url-pattern>/AproposServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectifServlet</servlet-name>
    <url-pattern>/AjouterDepot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectifServlet</servlet-name>
    <url-pattern>/SupprimerObjectif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectifServlet</servlet-name>
    <url-pattern>/ModifierObjectif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectifServlet</servlet-name>
    <url-pattern>/AjouterRetrait</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetteServlet</display-name>
    <servlet-name>DetteServlet</servlet-name>
    <servlet-class>controller.DetteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetteServlet</servlet-name>
    <url-pattern>/DetteServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>DetteServlet</servlet-name>
    <url-pattern>/AddDetteServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>DetteServlet</servlet-name>
    <url-pattern>/ModifierDetteServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>DetteServlet</servlet-name>
    <url-pattern>/SupprimerDetteServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>DetteServlet</servlet-name>
    <url-pattern>/AjouerMontant</url-pattern>
  </servlet-mapping>
</web-app>